@import "./styles/variables.module";

.headerWrapper {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.navBarWrapper {
  padding: 20px 120px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #fff;
  @media (max-width: $mobile-width) {
    padding: 30px 10px;
  }
}

.mainLogo {
  text-align: center;

  .logoWrapper {
    display: inline-block;
    cursor: pointer;

    &:hover {
      img {
        clip-path: ellipse(100% 100% at 50% 50%);
      }
    }

    img {
      position: absolute;
      z-index: 2;
      clip-path: ellipse(0% 0% at 100% 100%);
      transition: clip-path 0.5s ease;
    }

    svg {
      fill: #000000;
      z-index: 1;
    }
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.navBarMobile {
  display: none;
  @media (max-width: $mobile-width) {
    display: inline-block;
  }
}

.navBarItem {
  color: #000000;
  size: 14px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    width: 20px;
    height: 20px;
    transition: fill .2s ease;

    &:hover {
      fill: $primary-color;
    }
  }
  .supportLabel {
    @media (max-width: $mobile-width) {
      font-size: 12px;
    }
  }

  .person {
    margin-right: 20px;
    cursor: pointer;
    margin-left: 10px;
    @media (max-width: $mobile-width) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .bagHandle {
    cursor: pointer;
  }

}
