@import "./styles/variables.module";

.subscribeWrapper {
  background-color: $primary-color;
  height: 230px;
  position: relative;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  z-index: 0;

  .leftBalloonWrapper {
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 550px;
    }
  }

  .rightBaloonWrapper {
    position: absolute;
    right: 0;
    top: 0;
  }

  .socialColumn {
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 1;
    width: 600px;

    .whiteLogo {
      color: #fff;
      font-family: Mulish, sans-serif;
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
    }

    .socialLogo {
      margin-left: 10px;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 24px 24px 24px;
      column-gap: 25px;

      img {
        cursor: pointer;
      }
    }
  }

  .subcribeColumn {
    width: auto;
    display: flex;
    flex-flow: column;

    .bigTitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      font-family: Volkorm, sans-serif;
    }

    .smallTitle {
      color: #fff;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
    }

    .formWrapper {
      margin-top: 20px;
      display: flex;
      align-items: center;

      input {
        padding: 12px 15px 15px 15px;
        color: $primary-color;
        font-size: 14px;
        line-height: 21px;
        background-color: #fff;
        outline: 0;
        border: 0;
        width: 300px;

        &::placeholder {
          color: $primary-color;
        }
      }

      button {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        background-color: $primary-color;
        width: 170px;
        padding: 11px;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
          background-color: #09584BFF;
        }
      }
    }
  }
}

.infoFooter {
  padding: 40px 200px;
  background-color: #fff;

  .columnInfoWrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
  }

  .columnInfo {
    display: flex;
    flex-flow: column;

    .titleColumn {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #000000;
      margin-bottom: 15px;
      font-family: LatoMedium, sans-serif;
    }

    .itemWrapper {
      .item {
        color: #707070;
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
        cursor: pointer;
        font-weight: 400;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .grayLine {
    width: 100%;
    margin-top: 50px;
    height: 1px;
    background-color: #E5E5E5;
  }

  .lastLine {
    margin-top: 30px;
    text-align: center;
    color: #707070;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
}