@import "./styles/variables.module";

.selectSectionWraper {
  position: fixed;
  top: 50%;
  left: 95%;
  z-index: 1;
  padding-right: 10px;
  transform: translate(-50%, -50%);

  .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    width: 150px;
    height: 40px;

    .hoverItem {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    span {
      transition: clip-path 0.5s cubic-bezier(.645, .045, .355, 1), opacity 0.5s ease, -webkit-clip-path 0.5s cubic-bezier(.645, .045, .355, 1);
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    .line {
      cursor: pointer;
      background-color: #C4C4C4;
      height: 4px;
      width: 30px;
      margin-left: 5px;
      border-radius: 2px;

      &:hover {
        background-color: $primary-color;
      }
    }

  }

  .isActive {
    span {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .line {
      background-color: $primary-color;
    }
  }

}