@import "./styles/variables.module";

.wrapper {
  display: flex;
  cursor: pointer;

  span {
    margin-left: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.circle {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCircle {
  background-color: $primary-color;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}