@import "./styles/variables.module";

.button {
  background-color: $primary-color;
  padding: 10px 40px;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: background-color 150ms;
  display: flex;
  align-items: center;
  position: relative;

  .loadingWrapper {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.fullWidthButtonMobile {
  @media (max-width: $mobile-width) {
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.outlineButton {
  padding: 12px 24px;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  color: $primary-color;
  font-size: 16px;
  line-height: 26px;
  width: auto;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.paginateLine {
  text-align: center;

  ul {
    list-style-type: none;
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    justify-content: center;
    color: #000000;
    font-size: 14px;
    line-height: 21px;

    .selected {
      a {
        background-color: $secondary-color !important;
        color: #fff !important;
      }
    }

    a {
      border-radius: 5px;
      padding: 8px 16px;
      border: 1px solid #C4C4C4;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: #fff;
      }
    }
  }
}
