html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LatoMedium';
    src: url('../assets/fonts/Lato/Lato-Medium.ttf');
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish/static/Mulish-Black.ttf');
}

@font-face {
    font-family: 'Volkorm';
    src: url('../assets/fonts/Vollkorn/static/Vollkorn-Medium.ttf');
}

@font-face {
    font-family: 'VolkormSemibold';
    src: url('../assets/fonts/Vollkorn/static/Vollkorn-SemiBold.ttf');
}

html:not(.no-js) [data-aos=fade-up].fade-up {
    transform: translate(0, 20px);
}

@font-face {
    font-family: 'VT323';
    src: url('../assets/fonts/VT323/VT323-Regular.ttf');
}

a, span, h1, h2, h3, div, li {
    font-family: Inter, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ml-40 {
    margin-left: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-100 {
    margin-top: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.text-center {
    text-align: center
}

.color-primary {
    color: #1ea38d;
}

.component-wrapper {
    margin-top: 140px;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.mr-20 {
    margin-right: 20px;
}