@import "./styles/variables.module";

.contentSectionMobile {
  display: none;
  text-align: center;
  @media (max-width: $mobile-width) {
    display: block;
  }

  .bigTitle {
    font-family: Volkorm, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;

    span {
      font-weight: 700;
      font-family: Volkorm, sans-serif;
      color: $primary-color;
    }
  }

  .secondaryTitle {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 20px;
  }
}

.contentSection {
  width: 50%;
  padding-left: 90px;
  @media (max-width: $mobile-width) {
    padding-left: 10px;
    div {
      display: none;
    }
  }

  .bigTitle {
    font-family: Volkorm, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    span {
      font-weight: 700;
      font-family: Volkorm, sans-serif;
      color: $primary-color;
    }
  }

  .secondaryTitle {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 30px;
  }
}

.bannerSection {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #FBB163 -480.11%, rgba(251, 177, 99, 0) 100%);

  .banner {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
}

.smallHeading {
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 50px;
  font-family: VT323, sans-serif;
  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 14px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.suitableShop {
  padding: 10px;

  .cardWrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    @media(max-width: $mobile-width) {
      width: auto;
      grid-template-columns: 1fr;

      .card {
        .titleCard {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .iconWrapper {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFF8F1;

      img {
        width: 99px;
        height: 99px;
      }
    }

    .titleCard {
      font-family: Volkorm, sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
      margin-top: 20px;
    }

    .descriptionText {
      margin-top: 20px;
      color: #707070;
      font-size: 14px;
      line-height: 21px;
      height: 80px;

      span {
        font-weight: 700;
      }
    }
  }

  .startSellingBtn {
    text-align: center;

    button {
      padding: 10px 24px;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      background-color: $primary-color;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 150ms;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.howToSection {
  background-color: $bg-color3;
  padding: 100px 200px;
  margin-top: 50px;

  @media (max-width: $mobile-width) {
    padding: 10px 10px;
    margin-top: 20px;
    .withImageSection {
      .cardHowTo {
        flex-flow: column;
      }

      .contentHowTo {
        width: 100% !important;

        .titleCardHowTo {
          .bigNumber {
            font-size: 36px !important;
            line-height: 50px !important;
          }

          .bigTitle {
            font-size: 24px !important;
            line-height: 33px !important;
          }

          .cardItemWrapper {
            width: 100% !important;
          }
        }

        .cardItemWrapper {
          width: 100% !important;

          div {
            font-size: 14px !important;
            line-height: 21px !important;
          }
        }
      }

      .imageHowTow {
        width: 100% !important;
        margin-top: 16px;
      }
    }
  }

  .withImageSection {
    margin-top: 50px;

    .cardHowTo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contentHowTo {
      width: 50%;

      .titleCardHowTo {
        .bigNumber {
          font-weight: 500;
          font-size: 80px;
          line-height: 111px;
          color: $secondary-color;
          font-family: Volkorm, sans-serif;
        }

        .bigTitle {
          font-weight: 600;
          font-size: 32px;
          line-height: 45px;
          font-family: VolkormSemibold, sans-serif;
          color: $primary-color;
          margin-left: 20px;
        }
      }

      .cardItemWrapper {
        width: 80%;

        div {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          font-weight: 500;
        }
      }
    }

    .imageHowTow {
      width: 50%;
      max-width: 600px;

      img {
        width: 100%;
      }
    }
  }
}

.roadMapSection {
  padding: 100px 200px;
  background: #EDE6DB;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media(max-width: $mobile-width) {
    padding: 0 0 50px 0;
    position: relative;
    .checkLine {
      position: absolute;
      left: 20px;
      bottom: 20px;
      row-gap: 30px;
      grid-auto-flow: unset !important;

      .grayLine {
        height: 120px !important;
        width: 1px !important;
        margin: 40px auto;
      }
    }

    .cardRoadMapWrapper {
      margin-left: 100px;
    }
  }

  .checkLine {
    margin: 80px 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 30px;
    align-items: center;


    .grayLine {
      background-color: $stroke1;
      width: 120px;
      height: 1px;
    }

    .imageWrapper {
    }
  }

  .cardRoadMapWrapper {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 25px;

    .cardRoadMap {
      display: flex;
      align-items: center;
      flex-flow: column;
      background: #FFFFFF;
      border: 1px dashed #7C808B;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 30px 25px;
      width: 250px;

      .timeTitle {
        color: $primary-color;
        font-family: Volkorm, sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
      }

      .orangeLine {
        margin-top: 20px;
        width: 24px;
        height: 2px;
        background-color: $secondary-color;
      }

      .contentPeriod {
        margin-top: 30px;

        li {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: auto;
      column-gap: 0;
      row-gap: 60px;
      margin-top: 40px;
      .cardRoadMap {
        padding: 20px !important;

        .timeTitle {
          font-size: 24px;
          line-height: 33px;
          margin-right: auto;
        }

        .orangeLine {
          margin-right: auto;
          margin-top: 15px;
        }

        .contentPeriod {
          margin-top: 15px;

          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.titleSection {
  font-family: Volkorm, sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;

  span {
    font-family: Volkorm, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 44px;
  }
}

.exploreButton {
  padding: 10px 24px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  outline: 0;
  background-color: $primary-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 150ms;

  &:hover {
    background-color: $secondary-color;
  }
}
