@import "./styles/variables.module";

.mainProducts {
  .backgroundMain {
    color: #ffffff;
    background: $primary-color;
    padding: 40px 0px 42px 53px;
    margin-left: 2px;
  }
  .colorBg5 {
    color: $bg-color5;
  }
  .colorPrimary {
    color: $primary-color;
  }
  .banner {
    background: rgba(177, 226, 211, 0.3);
    padding: 63px 0px 50px 0px;
    .titleBanner {
      font-weight: 700;
      line-height: 40px;
      font-size: 40px;
      color: $primary-color;
    }
    .btnShop {
      color: $primary-color;
      padding: 12px;
      border: 1px solid $primary-color;
    }
    .imageBanner {
      right: 0px;
      bottom: -41%;
    }
  }
  .seenProduct {
    margin-top: 40px;
    .titleSeen {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
    }
    .heartIcon {
      right: 4%;
      top: 5%;
    }
  }
  .sale {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    align-items: center;
    text-transform: uppercase;
  }
  .buyNowButton {
    color: $primary-color;
    background: #ffffff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  .titleTop {
    font-family: "Vollkorn";
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 38px;
    padding-bottom: 25px;
  }
  .salePrice {
    color: #a6a6aa;
    text-decoration-line: line-through;
    font-size: 14px;
    margin-left: 15px;
  }
  .priceRed {
    color: #ff0000;
  }
  .pricePrimary {
    color: $primary-color;
  }
}
