@import "./styles/variables.module";

.mainProducts {
  .productList {
    padding: 10px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      z-index: 1;
    }
    .thumbnail {
      @media (max-width: $mobile-width) {
        padding-right: 1px;
      }

      text-align: center;
      position: relative;
      padding-right: 52px;
      width: 100%;
      &:hover .group-icon {
        display: flex !important;
        margin: auto;
      }
      .titleSlider {
        margin-top: 20px;
        color: $primary-color;
        font-size: 28px;
        line-height: 32px;
        border: 1px solid $primary-color;
        background: #f9f6f1;
        padding: 11px;
        @media (max-width: $mobile-width) {
          font-size: 10px;
          padding: 5px;
        }
      }
    }
  }
  .backgroundMain {
    color: #ffffff;
    background: $primary-color;
    padding: 40px 0px 42px 53px;
  }
  .colorBg5 {
    color: $bg-color5;
  }
  .colorPrimary {
    color: $primary-color;
  }
  .banner {
    background: rgba(177, 226, 211, 0.3);
    padding: 63px 0px 50px 0px;
    .titleBanner {
      font-weight: 700;
      line-height: 40px;
      font-size: 40px;
      color: $primary-color;
    }
    .btnShop {
      color: $primary-color;
      padding: 12px;
      border: 1px solid $primary-color;
    }
    .imageBanner {
      right: 0px;
      bottom: -41%;
    }
  }
  .seenProduct {
    margin-top: 40px;
    .titleSeen {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 15px;
    }
    .titleFavorite {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .priceFavorite {
      color: #ff0000;
      font-size: 28px;
      font-weight: 700;
    }
    .saleTime {
      color: #ff0000;
      background: #ede6db;
      padding: 8px 16px;
      width: fit-content;
    }
    .firstSale {
      background: $secondary-color;
      padding: 42px 28px 110px 28px;
      border-radius: 10px;
      position: relative;
      .backgroundFirst {
        background: $secondary-color;
        opacity: 0.3;
        border-radius: 10px;
        position: absolute;
        bottom: -5%;
        height: 34px;
        width: 87%;
        left: 7%;
      }
      .imgSaleProduct {
        position: absolute;
        bottom: 1px;
        right: 1px;
        z-index: 1;
      }
      .titleSale {
        font-size: 32px;
        font-weight: 700px;
        margin-bottom: 10px;
      }
      .mainSale {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 28px 12px;
        width: fit-content;
        margin-top: 140px;
        z-index: 100;
        .salePrices {
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
        }
      }
    }
    .secondSale {
      background: $secondary-purple;
      padding: 42px 28px 110px 28px;
      border-radius: 10px;
      position: relative;
      .backgroundFirst {
        background: $secondary-purple;
        opacity: 0.3;
        border-radius: 10px;
        position: absolute;
        bottom: -5%;
        height: 34px;
        width: 87%;
        left: 7%;
      }
      .imgSaleProductSecond {
        position: absolute;
        bottom: 1px;
        right: -12%;
      }
      .titleSale {
        font-size: 32px;
        font-weight: 700px;
        margin-bottom: 10px;
      }
      .mainSale {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 28px 12px;
        width: fit-content;
        margin-top: 140px;
        .salePrices {
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
        }
      }
    }
    .thirdSale {
      background: #a0cfc6;
      padding: 42px 28px 110px 28px;
      border-radius: 10px;
      position: relative;
      .backgroundFirst {
        background: #a0cfc6;
        opacity: 0.3;
        border-radius: 10px;
        position: absolute;
        bottom: -5%;
        height: 34px;
        width: 87%;
        left: 7%;
      }
      .imgSaleProduct {
        position: absolute;
        bottom: 1px;
        right: 1px;
      }
      .titleSale {
        font-size: 32px;
        font-weight: 700px;
        margin-bottom: 10px;
      }
      .mainSale {
        background-color: #ffffff;
        border-radius: 50%;
        padding: 28px 12px;
        width: fit-content;
        margin-top: 140px;
        .salePrices {
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
        }
      }
    }
    .btnReadMore {
      background: $primary-color;
    }
    .heartIcon {
      right: 4%;
      top: 5%;
    }
  }
  .sale {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    align-items: center;
    text-transform: uppercase;
  }
  .buyNowButton {
    color: $primary-color;
    background: #ffffff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  .titleTop {
    font-family: "Vollkorn";
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 38px;
    padding-bottom: 25px;
  }
  .salePrice {
    color: #a6a6aa;
    text-decoration-line: line-through;
    font-size: 14px;
    margin-left: 15px;
  }
  .saleFavorite {
    color: #a6a6aa;
    text-decoration-line: line-through;
    font-size: 20px;
    margin-left: 15px;
  }

  .priceRed {
    color: #ff0000;
  }
  .pricePrimary {
    color: $primary-color;
  }
}

.mainDetails {
  background: #f9f6f1;
  padding: 10px 0px 50px 47px;
  .btnBack {
    color: black;
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    font-family: "Inter";
    margin-bottom: 15px;
  }
  .titleProduct {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }
  .titleSale {
    font-weight: 400;
    line-height: 12px;
    color: #ff0000;
    margin-bottom: 8px;
  }
  .priceProduct {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #ff0000;
  }
  .salePrice {
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #a6a6aa;
    margin-left: 10px;
  }
  .firstSale {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    text-decoration-line: line-through;
    color: #a6a6aa;
    margin-right: 9px;
  }
  .percentSale {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #3a3a3a;
  }
  .size {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  .sizeTable {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
  .code {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
  }
  .btnAdd {
    background: $primary-color;
    padding: 9px 24px;
    gap: 10px;
    width: 364px;
    border-radius: 4px;
  }
  .borderIconLike {
    border: 1px solid #cbcbd4;
    border-radius: 4px;
    padding: 10px 10px 3.6px 10px;
  }
  .borderIconChat {
    border: 1px solid #cbcbd4;
    border-radius: 4px;
    padding: 10px;
  }
  .stockTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .textTab {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    white-space: nowrap;
  }
}
.suitableShop {
  padding: 100px 200px;
  background: $primary-color;

  &.noBg {
    background: transparent;
  }

  .titleSection {
    font-family: Volkorm, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    color: #ffffff;
    text-align: center;
  }
  .secondaryColor {
    font-family: Volkorm, sans-serif;
    color: $secondary-color;
  }
  .titleBottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
  }

  .cardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .iconWrapper {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff8f1;
    }

    .titleCard {
      font-family: Volkorm, sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: #ffffff;
      margin-top: 20px;
      width: 294px;
      text-align: center;
    }
  }

  .startSellingBtn {
    margin-top: 20px;
    text-align: center;

    button {
      padding: 10px 24px;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      background-color: $primary-color;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 150ms;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

@media (max-width: $mobile-width) {
  .suitableShop {
    padding: 50px 20px 80px 20px;

    .cardWrapper {
      display: grid;
      row-gap: 50px;
      justify-content: center;
    }
    .card {
      .titleCard {
        font-size: 18px;
      }
    }
    .titleSection {
      font-size: 32px;
      line-height: 44px;
    }
  }
}
.productSide {
  padding: 100px 195px;
  background: #f9f6f1;
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: $primary-color;
  }
  .productList {
    padding-bottom: 100px;
  }
  .backgroundImageSquare {
    position: relative;
    width: 204px;
    height: 173px;
    background: #ede6db;
    img {
      width: 100%;
      position: absolute;
      bottom: 15%;
      left: 11%;
    }
  }
  .backgroundImageRectangle {
    position: relative;
    width: 204px;
    height: 248px;
    background: #ede6db;
    img {
      width: 100%;
      position: absolute;
      bottom: 10%;
      left: 10%;
    }
  }
}
