@import "./styles/variables.module";

.mainWrapper {
  background: $bg-color3;
  padding: 10px 50px 120px 90px;

  .contentWrapper {
    max-width: 1440px;
    min-width: 1080px;
    margin: 0 auto;
  }

  .smallText {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
  }

  .bigTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: #000000;
    text-align: left;
  }

  .bigValueTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: $primary-color;
  }

  .mediumTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }

  .accountWrapper {
    margin-top: 100px;

    .dataTable {
      background: $bg-color4;
      border-radius: 5px;
      margin-top: 40px;

      .totalMoneyRow {
        padding: 40px;
        border-bottom: 1px solid $stroke1;
      }

      .firstRow {
        border-right: 1px solid $stroke1;
        padding: 40px;
        width: 30%;
      }

      .lastRow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        width: 60%;

        .imageWrapper {
          margin-right: 25px;
        }
      }
    }
  }

  .yourItemWrapper {
    margin-top: 100px;

    .navigationWrapper {
      margin-top: 40px;

      .item {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #707070;
        width: 120px;
        cursor: pointer;
        padding: 20px;

        &.activeTab {
          color: $primary-color;
        }
      }

      .lineWrapper {
        display: flex;

        .breakLine {
          height: 1px;
          width: 100%;
          background-color: $stroke1;
        }

        .activeLine {
          position: absolute;
          height: 2px;
          width: 120px;
          background-color: $primary-color;
          transition: 0.2s;

          &.selectedSold {
            margin-left: 100px;
          }
        }
      }
    }

  }

  .filterWrapper {
    display: flex;
    margin-top: 40px;

    .leftWrapper {
      display: flex;

      .filterItemWrapper {
        display: flex;
        align-items: center;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #707070;
          margin-right: 20px;
        }
      }
    }

    .rightWrapper {
      margin-left: auto;

      .outlineButton {
        background: #fff;
        padding: 10px 24px;

        &:hover {
          background: $primary-color;
        }
      }
    }

  }

  .listItemWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 50px;
  }

  .cardItem {
    .cardImageWrapper {
      position: relative;
      display: flex;
      width: 240px;
      height: 240px;

      .heartIcon {
        position: absolute;
        top: 16px;
        z-index: 1;
        right: 30px;
        cursor: pointer;
      }
    }

    .nameTitle {
      color: #000000;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-top: 25px;
    }

    .priceTitle {
      margin-top: 10px;
      color: $primary-color;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .webPath {
    color: #707070;
    font-size: 13px;
    line-height: 26px;
    text-align: center;

    span {
      color: $primary-color;
      font-weight: 700;
    }
  }
}

.strokeLineMb {
  background-color: $stroke1;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  display: none;
}

@media (max-width: $mobile-width) {
  .mainWrapper {
    padding: 10px 10px 80px 10px;

    .account
    .strokeLineMb {
      display: block;
    }

    .mediumTitle {
      font-size: 16px;
    }

    .withdrawButtonWrapper {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      button {
        padding: 12px 24px;
      }
    }

    .bigValueTitle {
      font-size: 24px;
      margin-top: 0;
    }

    .wrapperMobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .accountWrapper {
      margin-top: 50px;
      .dataTable {
        .totalMoneyRow {
          flex-flow: column;
          border-bottom: 0;
        }

        .lastRowTableWrapper {
          flex-wrap: wrap;

          .firstRow {
            width: 50%;
            border-right: 0;
            padding: 30px 30px;
          }

          .lastRow {
            width: 100%;
            padding: 30px;
          }
        }
      }
    }

    .contentWrapper {
      min-width: 0;
    }

    .filterWrapper {
      .leftWrapper {

        flex-wrap: wrap;
        .filterItemWrapper {
          margin-left: 0;
          width: 50%;
          &:last-child {
            width: 100%;
            margin-top: 25px;
          }
        }
      }
      .rightWrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
        button {
          padding: 10px 16px;
        }
      }

      flex-wrap: wrap;
    }

    .listItemWrapper {
      grid-template-columns: 160px 160px;
      justify-content: center;
    }

    .bigTitle {
      font-size: 24px;
    }
    .cardItem {
      .cardImageWrapper {
        width: 160px;
        height: 160px;
        .heartIcon {
          right: 13px;
          top: 10px;
        }
      }
    }
  }
}
