$primary-color: #0f8571;
$secondary-color: #fbb163;
$bg-color2: #fffcf8;
$bg-color3: #f9f6f1;
$bg-color4: #ede6db;
$bg-color5: #707070;
$stroke1: #c4c4c4;
$danger-color: #de411a;
$mobile-width: 480px;
